#定义agent，source，channel，sink

a1.sources = r1
a1.channels = c1
a1.sinks = k1

#定义source具体内容,设置flume监听的目录
a1.sources.r1.type = spooldir
a1.sources.r1.spoolDir = /home/hadoop/flume/dir


#定义channels
a1.channels.c1.type = memory
a1.channels.c1.capacity = 10000
a1.channels.c1.transactionCapacity = 100

#定义具体的sink信息,sink指向flume收集器

a1.sinks.k1.channel = c1
a1.sinks.k1.type = avro
a1.sinks.k1.hostname = collector
a1.sinks.k1.port = 52020

#绑定关系
a1.sources.r1.channels = c1
a1.sinks.k1.channel = c1

