#定义agent，source，channel，sink

a1.sources = r1
a1.channels = c1
a1.sinks = k1


#定义sources
a1.sources.r1.type = avro
a1.sources.r1.bind = collector
a1.sources.r1.port = 52020

#定义channel
a1.channels.c1.type = memory
a1.channels.c1.capacity = 100000
a1.channels.c1.transactionCapacity = 100


a1.sinks.k1.type = hdfs
a1.sinks.k1.hdfs.path = hdfs://master:9000/data/logs/%Y/%m/%D/%H
a1.sinks.k1.hdfs.filePrefix = events-
a1.sinks.k1.hdfs.fileType= DataStream
a1.sinks.k1.hdfs.useLocalTimeStamp = true


a1.sinks.k1.hdfs.rollCount = 0
a1.sinks.k1.hdfs.rollSize = 134217728
a1.sinks.hdfs.rollInterval = 60
a1.sources.r1.channels = c1
a1.sinks.k1.channel = c1